body {
  margin: 0;
  font-family: 'Nunito Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hrtitle {
  border: 2px solid;
  opacity: 1;
}

h1 {
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

#pagetitle hr{
  margin: auto;
  width: 30%;
}
#pagetitle p {
  text-align: center;
}

.container {
max-width: 1200px;
width: 95%;
margin: auto;
}

main {
  width: 80%;
  margin: auto;
}

.service-block {
  margin: 10px;
  text-align: center;
}

.icontitle{
  margin: 30px 0px;
}

#headerhp {
  background-image: url(/src/assets/images/hero-bg.jpg);
  background-size: 100% auto;
  text-align: center;
  padding: 100px 0px;
  color: white;
}

#headerhp h1 {
  color: white;
}
#headerhp p {
  color: white;
}

nav{
  color: white;
}

nav a {
  text-decoration: none;
  color: white;
}

.nav-link {
 text-decoration: none;
 color: white;
}
.nav-link:hover {
  font-weight: 800;
  color: white;
}
.card {
  min-height: 340px;
}
.card:hover {
  background-color: #efefef;
  box-shadow: 5px 5px 1px .5px rgb(0 0 0 / 0.1);
}
.card-body .btn:hover {
  background-color: #528be0;
  border-color: #528be0;
}

.social:hover {
  color: white;
}
.menu:focus {
  font-weight: 800;
  color: white;
}