body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  border: 2px solid blue;
  opacity: 1;
}

h1 {
  text-align: center;
}

#pagetitle hr{
  margin: auto;
  width: 30%;
}
#pagetitle p {
  text-align: center;
}

.container {
  width: 80%;
  padding: 30px;
  margin: auto;
}

main {
  width: 80%;
  margin: auto;
}

.service-block {
  margin: 10px;
  text-align: center;
}

.icontitle{
  margin: 30px 0px;
}